<style>
.inventory-warn{
color:red;
}
</style>
<section role="main">
	<div class="row" id="box1">
		<div class="twelve columns">
			<div class="seven columns">
				<form action="" method="GET" class="custom-entity-search">
				    <div class="row">
					<div class="six columns">
					    <input type="search" placeholder="OrderNumber" style="height: 28px; width: 100%"/>
					</div>
					<div class="four columns">
					    <a class="button small dark radius" href="#">
							<i class="icon-search"></i>&nbsp;搜索
					    </a>
					</div>
					<div class="two columns">&nbsp;</div>
				    </div>
				</form>
			</div>
		</div>
		<div class="twelve columns">
			<div class="listgrid-container">
				<table width="100%">
					<thead >
                        <th>商品名称</th><th>在售数量</th><th>现存数量</th>
                    </thead>
					<tbody>
						<tr th:each="inventory: *{inventorys}" th:object="${inventory}">
                            <td th:classappend="${quantityAvailable lt 2}?'inventory-warn':''" th:inline="text">
								<a th:href="@{/inventory/}+*{id}">[[*{sku.name}]]</a>
							</td>
							<td th:classappend="*{quantityAvailable lt 2} ? 'inventory-warn'" th:text="*{quantityAvailable}"></td>
							<td th:classappend="*{quantityAvailable lt 2} ? 'inventory-warn'" th:text="*{quantityOnHand}"></td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
	</div>
</section>
