<style >
	.cart-info{margin-top:20px;padding:0;}
	.cart-info .product-name{text-decoration:none;color:black;font-size:1em;margin:0 0 5px 0;display:inline-block;}
	.cart-info .product-name:hover{text-decoration:none;color:black;}
	.img-info{overflow:hidden;}
	.sku-quantity{padding:0;text-align:center;}
	.cart-info-line-height{line-height:1em;}
	.cart-info a{color:black;}
	.cart-info a:hover{text-decoration:none;}
	.button-info-buy{width:100%;color:white;border-radius: 0;border:none;}
	.button-info-buy,.button-info-buy:hover{background-color:#E70918;}
</style>
<div id="cart-info">
    <div class="container">
        <div class="row">
    		<div class="cart-info col-xs-12" th:if="${cart.orderItems !=null &amp;&amp; #lists.size(cart.orderItems) gt 0}" th:each="item : ${cart.orderItems}" th:object="${item}" th:id="${'productRow' + item.id}">
    			<a class="col-xs-3 img-info" th:href="@{*{sku.product.url}}"><img th:if="*{sku.product.media['primary']}" th:src="@{*{sku.product.media['primary'].url} + '?thumbnail'}" th:alt="*{name}" /></a>
    			<div class="col-xs-9">
    				<a class="product-name" th:href="@{*{sku.product.url}}" th:if="*{(#strings.length(name))} le 20" th:text="*{name}"></a> 
    				<a class="product-name" th:href="@{*{sku.product.url}}" th:if="*{(#strings.length(name))} gt 20" th:text="*{#strings.substring(name, 0, 20)}"></a> 
    				<form method="get" th:action="@{/cart/updateQuantity}">
    					<input type="hidden" name="productId" th:value="*{sku.product.id}" />
    					<input type="hidden" name="orderItemId" th:value="*{id}" />
                        <span class="col-xs-3 cart-info-line-height" style="padding:0;text-align:left;color:#FF3344" blc:price="*{getPriceBeforeAdjustments(true)}" ></span>
    					<span class="col-xs-1 cart-info-line-height">X</span>
    			 	    <a class="col-xs-2 glyphicon glyphicon-minus cart-info-line-height" onclick="minus(this)"></a>
    					<input class="col-xs-2 sku-quantity updateQuantity cart-info-line-height" type="number" name="quantity" th:value="*{quantity}" maxlength="3" autocomplete="off" />
    					<a class="col-xs-2 glyphicon glyphicon-plus cart-info-line-height" onclick="plus(this)"></a>
    					<div class="col-xs-12" style="padding:0;text-align:left;"><span>小计：</span><span style="color:#FF3344" blc:price="*{totalPrice}"></span></div>
    				</form>
    			</div>
    		</div>
        	<div  class="col-xs-12 cart-info" th:unless="${cart.orderItems !=null &amp;&amp; #lists.size(cart.orderItems) gt 0}">
        		<span>亲，您的购物车还是空的哦！</span>
        		<div>
        			<a th:href="@{/weixin/category}" target="_top">&laquo; <span th:text="#{cart.continueShopping}">继续购物</span></a>
        		</div>
        	</div>
    		<div class="col-xs-12 cart-info">
                <div class="" id="p_buy">
                    <span class="all_price">总价格：<font id="all_price">￥<span th:text="${cart.subTotal}">
                    </span></font></span>
                    <span>总共<font id="all_numb"><span th:text="${cart.itemCount}"></span></font>件商品</span>
                    <a th:href="@{/weixin/checkout}" class="p_btn_buy btn btn-info button-info-buy"><span class="ts1">去结算</span></a>
                </div>
            </div>
    	</div>
    </div>
</div>
<script type="text/javascript">
	/*<![CDATA[*/
	lastScripts[lastScripts.length]=function(){
    	$('.nav-info a.nav-cart').addClass('active');
	}
	/*]]>*/
</script>

