<style >
	.order-info{color:black;margin-top:20px;}
	.order-info table tr{line-height:2em;}
	.font_family{width:40px;}
</style>
<div class="container order-info">
	<div class="row">
		<div class="col-xs-12">
        <div class="">
            <div class="complite"><span class="order_warn font_family">感谢你，订单(<span th:text="${order.orderNumber}"/>)<br />提交成功！</span></div>
            <span class="order_warn_time font_family">商品将在<span text="${sendTime}">第一时间</span>为您送达，请保持电话畅通！</span>
    	</div>
        <table class="order_detial">
            <tr><td><span class="font_family">订单编号：</span></td><td><strong class="price" style="font-size:1.2em" th:text="${order.orderNumber}"/></td></tr>
    		<tr><td><span class="font_family">订单小计：</span></td><td  class="price" style="font-weight:bold;" blc:price="${order.subTotal}"></td></tr>
			<tr><td><span class="font_family">运费金额：</span></td><td  class="price" style="font-weight:bold;" blc:price="${order.totalShipping}"></td></tr>
            <tr th:each="paymentInfo : *{order.paymentInfos}" th:object="${paymentInfo}">
                <td><span class="font_family" th:text="*{type.friendlyType}+'：'"></span></td><td class="price" style="font-weight:bold;" blc:price="*{amount}"></td>
			</tr>
    		<tr th:object="${order.fulfillmentGroups[0]}" th:inline="text" th:unless="${#lists.size(order.fulfillmentGroups) > 1}">
				<td><span class="font_family">收货信息：</span></td>
				<td class="font_family" th:if="*{address.dormitory != null  &amp;&amp;  address.primaryPhone != null  &amp;&amp;address.dormitory.dormitoryId>0 }"> 
				[[*{address.firstName}]]&nbsp;&nbsp;&nbsp;[[*{address.dormitory.areaAddress.region.regionName}]]&nbsp;&nbsp;&nbsp;[[*{address.dormitory.areaAddress.areaName}]]
				&nbsp;&nbsp;&nbsp;[[*{address.dormitory.dormitoryName}]]&nbsp;&nbsp;&nbsp;[[*{address.roomNo}]]&nbsp;&nbsp;&nbsp;[[*{address.primaryPhone}]]
				</td>
				<td class="font_family" th:if="*{address.dormitory != null  &amp;&amp;  address.primaryPhone != null  &amp;&amp;address.dormitory.dormitoryId lt 0 }"> 
				[[*{address.firstName}]]&nbsp;&nbsp;&nbsp;[[*{address.dormitory.areaAddress.region.regionName}]]&nbsp;&nbsp;&nbsp;[[*{address.roomNo}]]&nbsp;&nbsp;&nbsp;[[*{address.primaryPhone}]]
				</td>
			</tr>
			<tr th:object="${order.fulfillmentGroups[0]}" th:inline="text" th:unless="${#lists.size(order.fulfillmentGroups) > 1}">
				<td th:if="*{address.lastName!=''}"><span class="font_family">备　　注：</span></td>
				<td th:if="*{address.lastName!=''}" class="font_family"> 
				[[*{address.lastName}]]&nbsp;&nbsp;&nbsp;
				</td>
				
			</tr>
		</table>	
	</div>
    </div>
</div>
	<script type="text/javascript">
	/*<![CDATA[*/
	lastScripts[lastScripts.length]=function(){
    	$('.nav-info a.nav-cart').addClass('active');
	}
	/*]]>*/
</script>