<div class="region grid-100 tablet-grid-100 grid-parent">
	<div class="grid-10 tablet-grid-10 hangzhoushi lgo"></div>
	<div class="grid-80 tablet-grid-80 grid-parent">
		<a th:href="@{/region/select(id=1,redirect=${param.redirect})}" title="下沙" class="grid-20 tablet-grid-20"
			onclick="return regionSelect(this);">
			<div style="align: center;">
				<div class="ligong lgo" />
			</div>
			<div style="text-align: center;">
				<span class="title">浙江理工大学 </span>
			</div>
		</a> <a th:href="@{/region/select(id=5,redirect=${param.redirect})}" title="下沙" class="grid-20 tablet-grid-20"
			onclick="return regionSelect(this);">
			<div style="align: center;">
				<div class="hangdian lgo" />
			</div>
			<div style="text-align: center;">
				<span class="title">杭州电子科技大学 </span>
			</div>
		</a> <a th:href="@{/region/select(id=6,redirect=${param.redirect})}" title="下沙" class="grid-20 tablet-grid-20"
			onclick="return regionSelect(this);">
			<div style="align: center;">
				<div class="chuanmei lgo" />
			</div>
			<div style="text-align: center;">
				<span class="title">浙江传媒学院 </span>
			</div>
		</a> <a th:href="@{/region/select(id=4,redirect=${param.redirect})}" title="下沙" class="grid-20 tablet-grid-20"
			onclick="return regionSelect(this);">
			<div style="align: center;">
				<div class="hangzhi lgo" />
			</div>
			<div style="text-align: center;">
				<span class="title">杭州职业技术学院 </span>
			</div>
		</a> <a th:href="@{/region/select(id=3,redirect=${param.redirect})}" title="下沙" class="grid-20 tablet-grid-20"
			onclick="return regionSelect(this);">
			<div style="align: center;">
				<div class="guangchang lgo" />
			</div>
			<div style="text-align: center;">
				<span class="title">福雷德生活广场</span>
			</div>
		</a>
	</div>
</div>
<div style="clear: both; height: 4em;"></div>
<div class="region grid-100 tablet-grid-100 grid-parent">
	<div class="grid-10 tablet-grid-10 lishuishi lgo"></div>
	<div class="grid-80 tablet-grid-80 grid-parent">
		<a th:href="@{/region/select(id=2,redirect=${param.redirect})}" title="丽水" class="grid-20 tablet-grid-20"
			onclick="return regionSelect(this);">
			<div style="align: center;">
				<div class="lishui lgo" />
			</div>
			<div style="text-align: center;">
				<span class="title">丽水学院 </span>
			</div>
		</a> <a href="#" class="grid-20 tablet-grid-20">
			<div style="align: center;">
				<div class="jiliang lgo" />
			</div>
			<div style="text-align: center;">
				<span class="title"> 中国计量学院</span>
			</div>
		</a> <a href="#" class="grid-20 tablet-grid-20">
			<div style="align: center;">
				<div class="jiliang lgo" />
			</div>
			<div style="text-align: center;">
				<span class="title">浙江警官学院 </span>
			</div>
		</a> <a href="#" class="grid-20 tablet-grid-20">
			<div style="align: center;">
				<div class="jiliang lgo" />
			</div>
			<div style="text-align: center;">
				<span class="title">浙江水利水电学院</span>
			</div>
		</a>
	</div>
</div>
