<div class="menu-list">
	<div class="title-line">
		<div class="title"><span>个人信息</span></div>
	</div>
	<div class="link-line">
		<div class="link"><a th:href="@{/account}">账户信息</a></div>
	</div>
	<div class="link-line">
		<div class="link"><a th:href="@{/account/addresses}">收货地址</a></div>
	</div>
	<div class="link-line">
		<div class="link"><a th:href="@{/account/password}">修改密码</a></div>
	</div>
</div>

<div class="menu-list">
	<div class="title-line">
		<div class="title"><span>我的足迹</span></div>
	</div>
	<div class="link-line">
		<div class="link"><a th:href="@{/customer/orders}">我的订单</a></div>
	</div>
	<div class="link-line">
		<div class="link"><a th:href="@{/customer/like/show}">我的喜欢</a></div>
	</div>
</div>
<div class="menu-list" style="padding-bottom: 10em;">
	<div class="title-line">
		<div class="title"><span>我的账户</span></div>
	</div>
	<div class="link-line">
		<div class="link"><a th:href="@{/account/viewIntegral}">我的仙丹</a></div>
	</div>
	<div class="link-line">
		<div class="link"><a th:href="@{/account/recharge}">账户充值</a></div>
	</div>
	<div class="link-line">
		<div class="link"><a th:href="@{/account/rechargeableCard}">我的余额</a></div>
	</div>
</div>