<div class="qa-main">
	<h2><a name="about">关于我们</a></h2>
	<div class="ask-answer">
		<p class="ask">问：“在校网”是谁？</p>
		<p class="answer">答：“在校网”是由一群对校园感情深厚的人组成。主要包括学生、老师，以及某些自诩永远20岁的大叔。技术、运营、配送各方面主要都是由他们联手完

成的。</p>
	</div>
	<p class="ask">问：哪里可以使用在校网？</p>
	<p class="answer">答：我们目前主要针对杭州下沙西区和丽水学院一带提供服务。具体可以参见“配送范围”。我们的服务范围会逐步增加的。</p>
	<p class="ask">问：为什么要创建“在校网”？</p>
	<p class="answer">学生：因为这事够酷，不做简直对不起“青春”这两个充满激情的字眼。</p>
	<p class="answer">老师：阿弥陀佛，所谓色即是空，空即是色，实践方能出真知。施主你听明白了么？</p>
	<p class="answer">大叔：你们统统弱爆了！哈哈哈。</p>
	<p class="ask">问：“在校网”是干什么的？</p>
	<p class="answer">学生：在校网为身边的同学老师们提供各种校园特色服务。亲，是各种哦！什么？能不能代写情书？@#￥%……*亲，我们暂时还不提供这个服务，不过你看是不

是你可以在我们这里买盒巧克力送给女神呢？我们送货上门哦，亲。</p>
	<p class="answer">老师：阿弥陀佛。“在校网”其实是一个平台，一段历程。同学们可以通过在我们这里的修炼，领悟一门名叫“电子商务”的绝学。不明白啊？没关系，请和我

一起唱这首歌：Only you……我靠，这是谁家的孩子啊，西红柿这种好东西都随便乱扔。</p>
	<p class="answer">大叔：你们统统弱爆了！</p>
	<p class="ask">问：“在校网”和淘宝、天猫这些电商有什么不同？</p>
	<p class="answer">学生：很多不同啊！第一，我们所有的产品和服务都是特别适合校园的；第二，我们提供直达寝室的服务，亲，是寝室哦，这就是传说中的筋斗云配送哦。第三

，我们就是你们。所以实际上，我们是在自己为自己服务。你对“在校网”有任何疑惑和建议，我只想说四个字：“请联系我”。我就在你身边。</p>
	<p class="answer">老师：“在校网”属于校园中的每一个人。你有任何想法，在校网都可能来帮助你实现。这就是所谓的“普度众生”啊施主！南无阿弥陀佛。</p>
	<p class="answer">大叔：我都无力吐槽了！O2O你懂吗？</p>
	<p class="ask">问：“在校网”为什么要选择西游主题呢？</p>
	<p class="answer">学生：不觉得西游和校园很像么？都有啰啰嗦嗦的师傅、牛逼得一塌糊涂的大师兄、懒懒散散好人缘的二师兄、勤勤恳恳和我们一样的沙僧，以及美丽的白晶晶

和紫霞。</p>
	<p class="answer">老师：其实很多人都说我像帅帅的唐长老哦！嘻嘻。</p>
	<p class="answer">大叔：我会告诉你白晶晶是我的初恋、紫霞仙子是我的女神么？</p>
	<p class="ask">问：你们一直说“在校网”会推出各种各样好玩又够酷的服务，为什么现在我只看到卖东西这一种呢？</p>
	<p class="answer">众（一起露出六颗牙齿微笑）：慢慢来，一切都会有的！</p>
	<p class="ask">问：“在校网”貌似真的有点酷，我能加入你们么？</p>
	<p class="answer">答：杭州下沙的同学请联系 ℡: 18768124637，丽水的同学请联系 ℡: 15157480645</p>
	<h2><a name="hezuo">合作加盟</a></h2>
	<p class="ask">在校网长期欢迎各种形式的合作加盟，<br/>如果你想在线上开展自己的小生意，可以随时联系我们，<br/>如果你的学校还没有在校网，你也可以联系我们让在校网驻扎到你的校区，在校网帮助你成为CEO，迎娶白富美，走上人生巅峰！<br/>嘿嘿，想起来是不是有点小激动呢？联系电话：18768124637，快拿起你的爪机行动吧！</p>

	<h2><a name="xinshou">新手帮帮</a></h2>
	<p class="ask">在校菌要给大家演示在校网的使用流程啦~~</p>
	<p class="answer">
		1、登陆www.onxiao.com后选择你所在的校区<br/>
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshou1.jpg" /><br/><br/>
		目前我们的配送范围在下沙高教园区的部分校区和丽水学院，领土正在不断扩展中<br/>
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshou2.jpg" /><br/><br/>
		<h4>登陆或注册</h4>
		<h5>新用户注册</h5>
		Step1.点击页面右上方的“注册”按钮注册在校网账号<br/>
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshou3.jpg" /><br/><br/>
		Step2.请根据相应提示在信息栏内填入您的注册信息<br/>
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshou4.jpg" /><br/><br/>
		注册成功后系统将自动登录您的账号，并转至在校网首页。<br/>
		<h5>登录</h5>
		Step 1 如您已经拥有在校账号，请点击页面右上方的“登录”按钮<br/>
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshou5.jpg" /><br/><br/>
		Step 2 在登录页面的信息栏内填入对应信息，点击“登录”按钮进行登录，或通过选择登录框下方的合作账号进行快速登录。登录成功后，系统将自动跳转至在校网首页。<br/>
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshou6.jpg" /><br/><br/>
		<h5>挑选商品</h5>
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshou7.jpg" /><br/>
		首页左侧是分类栏哦选择你喜欢的产品，进入详情页，进入详情页后可以选择“立即购买”或“加入购物车”购买前要看清库存哦，如果库存为0 那么商品就无法购买了<br/>
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshou8.jpg" /><br/><br/>
		<h5>加入购物车</h5>
		当您点击商品详情页面的“加入购物车”按钮之后， 该商品将被自动添加进购物车，页面右上方的购物袋将会随时显示您购物车中的商品数量，点击可随时查看您的购物车状态。<br/>
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshou9.jpg" /><br/><br/>
		Step 1 点击购物袋，您可以查看并确认您的商品数量、型号、金额等信息。<br/>
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshoua.jpg" /><br/><br/>
		Step 2 确认无误后，您可以继续挑选商品，或点击“去结账”前往订单页面进行结算。<br/>
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshoub.jpg" /><br/><br/>
		Step3.确认订单信息，左下角的优惠券编码使用条是我们不定期做活动时可能发放的优惠券，如果您有优惠券编码，点击下拉键就可以使用了<br/>
		Step4.订单信息的右侧有优惠和凑整信息，您可以根据自己喜好进行选择<br/>
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshouc.jpg" />
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshoud.jpg" /><br/><br/>
		<h5>确认下单</h5>
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshoue.jpg" /><br/><br/>
		Step1. 按照页面中的提示文字详细填写/核对配送地址，送货时间，支付方式等。相关信息核对无误后点击“提交订单”<br/>
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshouf.jpg" /><br/><br/>
		Step2.提交订单后出现这个页面表示您的订单提交成功，接下来就只需坐等几十分钟就好啦<br/>
		<h5>收货与评价</h5>
		请您在付款给送货上门的同学之前，先当面核对商品，确认商品有无数量、质量等问题。确认无误之后再进行付款。如果发现问题时送货的同学已经离开，请拿起爪机拨打客服热线057188035175或加入在校网用户群148695102或点击网站首页客服QQ即可反映情况。工作人员将在1个工作日为您解决问题。<br/>
		<h5>确认收货</h5>
		当您收到您所购买的商品并且确认货品种类无误后，请打开您的个人主页，在“我的订单”中对您所购买的商品进行评价<br/>
		<img alt="新手帮帮" src="http://img.onxiao.com/img/qa-xinshoug.jpg" /><br/><br/>
	</p>
</div>
