<div class="qa-main">
    <div>
        <h2>
        	<a name="tuihuo">退换货保障</a>
        </h2>
        <p class="ask">问：什么情况下可以退货和换货？</p>
        <p class="answer">答：无原则退货噢，只要您提出任何质量问题，我们都无条件为您退货、换货。</p>
        <p class="ask">问：如何退货和换货？</p>
        <p class="answer">答：拿起爪机拨打客服热线057188035175或加入在校网用户群148695102或点击网站首页客服QQ即可反映情况。工作人员将在1个工作日为您解决问题。</p>
	</div>
    <div>
		<h2><a name="yinsi">隐私保护</a>
        </h2>
    	<p class="ask">问：用人人、微博、QQ等账号登陆在校网，会不会泄露我的个人信息？</p>
    	<p class="answer">答：用人人、微博、QQ账号登陆旨在为您提供方便，绝对不会泄露您的信息。若您还不放心，可另注册在校网账号登陆。</p>
        <p class="ask">问：给差评会不会被灭口……？</p>
    	<p class="answer">答：在校菌力求你们的批评和吐槽，只有这样在校网才能发展得更好。（咬手帕….当然还是好评越多越好啦）</p>
	</div>
	<div>
		<h2><a name="tousu">投诉建议</a>
        </h2>
    	<p class="ask">问：收到商品与网上描述不符，怎么办？</p>
    	<p class="answer">答：网站所有商品均为实物拍摄，请放心使用。若与网上描述不符，您可享有全额退款服务。</p>
        <p class="ask">问：付款后卖家未发货，怎么办？</p>
    	<p class="answer">答：筋斗云一小时内送货上门。若一小时以后还未送达，可拿起爪机拨打客服热线057188035175或加入在校网用户群148695102或点击网站首页客服QQ反映情况。</p>
		<p class="ask">问：工作人员态度不好，我如何投诉？</p>
    	<p class="answer">答：客服和配送人员都经过专门培训，若您有不满意之处，可直接拨打529354找在校菌出气。（捂脸哭瞎…..）</p>
 </div>
</div>
