<div class="qa-main">
	<a name="cod"></a>
	<p class="ask">问：什么是货到付款?</p>
	<p class="answer">答：亲，货到付款就是，我们把你购买的物品送到你的手里，你再付现金给我们。</p>
	<a name="balance"></a>
	<p class="ask">问：那什么是余额支付?</p>
	<p class="answer">答：在校网将不定期推出一系列线上和线下活动，届时我们会发放现金券的充值卡，发放充值卡的形式多样，大家随时关注网站活动吧~<br/>
充值卡一般是由账号和密码组成，充值方式如下：登陆→点击网页右上方你的头像或用户名进入你的主页→点击页面左侧＂我的账户＂下的＂账户充值＂→<br/>
<img alt="余额支付" src="http://img.onxiao.com/img/qa-yue1.jpg" /><br/>
将充值卡上的卡号密码输入点击＂充值＂就好啦，充值后你还可以点击<br/>
<img alt="余额支付" src="http://img.onxiao.com/img/qa-yue2.jpg" /><br/>
我的余额查看你账户中的余额。<br/>
<img alt="余额支付" src="http://img.onxiao.com/img/qa-yue3.jpg" />
</p>
	<a name="alipay"></a><p class="ask">问：支付宝支付呢?</p>
	<p class="answer">答：支付宝啊，支付宝支付，</p>
	<a name="jifen"></a><p class="ask">问：仙丹换购，这个事什么意思，好像没见过哟?</p>
	<p class="answer">答：仙丹换购，顾名思义就是用仙丹来换购东西啦。<br/>
首先，仙丹是什么，从哪里来？<br/>
每个产品的详情页的商品信息中都会显示购买该商品可以获得的仙丹数目，如：<br/>
<img alt="仙丹换购" src="http://img.onxiao.com/img/qa-xiandan1.jpg" /><br/>
那么仙丹有哪些用处呢？<br/>
在校菌告诉你，仙丹的用处可大了呢，可以换购商品哦~在校网上有些商品是只有通过仙丹才可以购买的，比如说<br/>
<img alt="仙丹换购" src="http://img.onxiao.com/img/qa-xiandan2.jpg" /><br/>
当你看到产品没有显示价格而是一个小小的太极八卦小圈圈后面加个数字的时候，那么恭喜你，发现彩蛋啦，这就是传说中的仙丹换购！也就是说你不用付钱，只要乖乖交出40颗仙丹就可以得到这个商品咯。<br/>
怎么才能知道我有多少仙丹呢？ <br/>
首先登陆在校网，然后点击右上方你的用户名，进入你的个人主页后，点击左侧<br/>
<img alt="仙丹换购" src="http://img.onxiao.com/img/qa-xiandan3.jpg" /><br/>
“我的账户”中的“我的仙丹”这样就可以看到你的仙丹余额啦。
</p>
</div>
