<div style="padding:3em 0;">
	<h1>俺老孙，来也！</h1>
	<h2>筋斗云送货上门，59分钟内必达！</h2>
</div>
<div class="qa-main">
	<div>
		<h2><a name="yunfei">运费说明</a></h2>
		<p class="ask">问：在校网的运费是如何计算的？</p>
		<p class="answer">答：运费全免！是的，你没有看错！哪怕你只买了一包咪咪虾条我们也会给你送到宿舍楼上（但素，你真的忍心只买5毛钱吗  ）当然，这只是初期，后期我们会根据情况酌情收取运费，到时候我们会提前通知的不用担心思密达~</p>
	</div>
	<div>
		<h2><a name="jindou">筋斗云配送</a></h2>
		<p class="ask">问：你们的配送方式是怎样的？好像很独特嘛</p>
		<p class="answer">答：何止是独特，简直是人间少有嘛~嘿嘿，我们的筋斗云配送会在一小时只能为您送货上楼，注意，是送货到宿舍楼上哦，部分校区因为宿管阿姨太凶了，我们的送货员偶尔无法上楼，希望谅解。</p>
	</div>
</div>
<a name="rangeTime"></a>
<table class="range-time" border="1px">
	<thead><th colspan="4"><h2>配送范围和时间表</h2></th></thead>
	<tbody>
		<tr class="hz"><td colspan="4">杭州</td></tr>
		<tr class="hz-t d-time"><td>时间范围</td><td>09:30-14:00</td><td>14:00-17:30</td><td>17:30-21:50</td></tr>
		<tr class="univ u-lg"><td>浙江理工大学</td><td><span class="time-active"></span></td><td><span class="time-active"></span></td><td><span class="time-active"></span></td></tr>
		<tr class="univ u-hd"><td>杭州电子科技大学</td><td><span class="time-active"></span></td><td><span class="time-active"></span></td><td><span class="time-active"></span></td></tr>
		<tr class="univ u-cm"><td>浙江传媒学院</td><td><span class="time-noactive"></span></td><td><span class="time-noactive"></span></td><td><span class="time-active"></span></td></tr>
		<tr class="univ u-hz"><td>杭州职业技术学院</td><td><span class="time-noactive"></span></td><td><span class="time-noactive"></span></td><td><span class="time-active"></span></td></tr>
		<tr class="univ u-fld"><td>弗雷德广场</td><td><span class="time-active"></span></td><td><span class="time-active"></span></td><td><span class="time-active"></span></td></tr>
		<tr class="ls"><td colspan="4">丽水</td></tr>
		<tr class="ls-t d-time"><td>时间范围</td><td>09:30-13:30</td><td>15:30--18:00</td><td>18:30-22:10</td></tr>
		<tr class="univ u-ls"><td>丽水学院</td><td><span class="time-active"></span></td><td><span class="time-active"></span></td><td><span class="time-active"></span></td></tr>
	</tbody>
</table>


