<style type="text/css">
.baokuang{
		width: 100%;
		height: 120px;
		z-index: -5
}
.img p{
	padding:0;
	margin:0;
}
.baokuan_msk{
	width:100%;
	height:45px;
	position:absolute;
	bottom:0;
	left:0;
	background-color:#000;
	opacity:0.5;
	z-index: 1;
}
.baokuan_title{
	color: white;
	font-size: 14px;
	line-height: 52px;
	padding-left: 150px;
	z-index: 9;
	display: inline-block;
	white-space: nowrap;
}
.baokuan_left_footer{
	position: absolute;
	top: 94px;
	left: 125px;
	width: 18px;
	height: 18px;
	background: url('//img.onxiao.com/img/Sprites.png') -7px -1229px no-repeat;
	z-index: 9;
}
.baokuan_left_footer:hover{
	position: absolute;
	top: 94px;
	left: 125px;
	width: 18px;
	height: 18px;
	background: url('//img.onxiao.com/img/Sprites.png') -7px -1247px no-repeat;
	z-index: 9;
}
.baokuan_right_footer{
	position: absolute;
	top: 94px;
	right: 14px;
	width: 18px;
	height: 18px;
	background: url('//img.onxiao.com/img/Sprites.png') -31px -1229px no-repeat;
	z-index: 9;
}
.baokuan_right_footer:hover{
	position: absolute;
	top: 94px;
	right: 14px;
	width: 18px;
	height: 18px;
	background: url('//img.onxiao.com/img/Sprites.png') -31px -1247px no-repeat;
	z-index: 9;
}
.baokuan_left_top{
	position: absolute;
	top: 34.5px;
	left: 2.5px;
	width: 8px;
	height: 8px;
	background: url('//img.onxiao.com/img/Sprites.png') -10px -1220px no-repeat;
	z-index: 9;	
}
.baokuan_left_top:hover{
	position: absolute;
	top: 26px;
	left: 0px;
	width: 15px;
	height: 25px;
	background: url('//img.onxiao.com/img/Sprites.png') -8px -1194px no-repeat;
	z-index: 9;
}
.baokuan_right_top{
	position: absolute;
	top: 34.5px;
	right: 2.5px;
	width: 8px;
	height: 8px;
	background: url('//img.onxiao.com/img/Sprites.png') -35px -1220px no-repeat;
	z-index: 9;	
}
.baokuan_right_top:hover{
	position: absolute;
	top: 26px;
	right: 0px;
	width: 15px;
	height: 25px;
	background: url('//img.onxiao.com/img/Sprites.png') -31px -1194px no-repeat;
	z-index: 9;	
}
</style>
<link rel="stylesheet" href="//img.onxiao.com/css/home.css?v=a.css" />
<div class="main-content clearfix">
	<div class="grid-15 tablet-grid-15 grid-padding-left">
		<div class="category-title">商品服务分类</div>
		<nav class="category-nav">
			<blc:categories resultVar="navCategories" parentCategory="Global Nav" iterateLevel="3" />
			<ul>
				<li th:each="category,stats: ${navCategories}" th:object="${category}" class="hover-show"
				th:style="'z-index:'+${20-stats.index}">
					<style th:text="${category.getCategoryAttributeByName('icon-class')}" />
					<div class="menu-item"><a><span th:text="*{name}" th:class="'gnav-'+*{id}"></span><s /></a></div>
					<div class="hover-showed topright submenu" th:include="v2/layout/partials/def_submenu"></div>
				</li>
			</ul>
			
			
		</nav>
	</div>

	<div class="grid-85 tablet-grid-85 grid-parent below-menu">
		<div th:substituteby="v2/layout/partials/nav" />
	</div>
	<div class="grid-60 tablet-grid-75 grid-parent rslidesdiv">
		<blc:content contentType="首页幻灯" />
		<ul class="rslides" th:unless="${#lists.isEmpty(contentList)}">
			<li th:each="contentItem: ${contentList}" th:if="${contentItem[imageUrl] ne null}">
				<a th:if="${contentItem[targetUrl] ne null}" th:href="@{${contentItem[targetUrl]}}"><img th:alt="${contentItem[contentName]}" th:src="@{${contentItem[imageUrl]}}"/></a>
				<img th:if="${contentItem[targetUrl] eq null}" th:alt="${contentItem[contentName]}" th:title="${contentItem[messageText]}" th:src="@{${contentItem[imageUrl]}}"/>
			</li>
		</ul>
	</div>
	<div class="grid-25 tablet-grid-10 grid-padding-right" style="overflow:hidden;">
		<blc:content contentType="公告牌" maxResults="4" contentListVar="contentList" />
		<div th:if="${#lists.isEmpty(contentList)}" th:remove="tag">
			<div class="send-time">
				<div class="time-title">筋斗云配送 </div>
			<div class="detial-time" th:if="${customer.region ne null and customer.region.fulfillmentLocations[0].id eq -1}">09:30-21:35</div>
			<div class="detial-time" th:if="${customer.region ne null and customer.region.fulfillmentLocations[0].id eq -2}">11:30-22:20</div>
			<div class="send-detial">直送寝室，59分钟必达，平均39分钟以内。</div>
				<div class="send-bg"></div>
			</div>
		</div>
		<div th:unless="${#lists.isEmpty(contentList)}" class="bboard">
			<dl class="tabs clearfix">
				<dd class="tab" th:each="contentItem,stats: ${contentList}" th:classappend="${stats.index eq 0 ? 'active':''}"
						th:attr="href=${#strings.isEmpty(contentItem[targetUrl])?'':contentItem[targetUrl]},key='tab'+${stats.index}" th:text="${contentItem[title]}">
				</dd>
			</dl>
			<div class="tab-contents">
				<div th:each="contentItem,stats: ${contentList}" class="tab-content" th:classappend="${stats.index eq 0 ? 'active tab' + stats.index:'tab' + stats.index}">
					<div th:if="${#strings.isEmpty(contentItem[targetUrl])}" th:utext="${contentItem[htmlContent]}" th:remove="tag"></div>
				</div>
			</div>
		</div>
		<!-- <a class="d11-ad" th:href="@{/activity/d11/qianggou}"  target="_blank" >
			<img src="//img.onxiao.com/img/activities/d11_hover.png" id="shine" />
		</a> -->
		<div class="home-offer">
		<blc:content contentType="爆款" />
			<div th:unless="${#lists.isEmpty(contentList)}">
				<span class="img" th:each="contentItem: ${contentList}" th:utext="${contentItem[htmlContent]}"></span>
				<span class="baokuan_left_top"></span>
				<span class="baokuan_right_top"></span>
				<!-- <table class="baokuan_msk">
					<tr>
						<td style="width:18px"><span class="baokuan_left_footer"></span></td>
						<td class="baokuan_title">百草味笑口板栗</td>
						<td style="width:18px"><span class="baokuan_right_footer"></span></td>
					</tr>
				</table> -->
			<span class="baokuan_left_footer"></span>
			<div class="baokuan_msk">
				<span class="baokuan_title" th:text="${contentItem[title]}"></span>
			</div>
			<span class="baokuan_right_footer"></span>
		</div>
		</div>
		<div class="other-service">
			<div class="main-service">
				<div class="grid-33 tablet-grid-33 phone-service">
					话费充值
				</div>
                <a href="/product/dayin"><div class="grid-33 tablet-grid-33 print-service">
					打印服务
				</div></a>
				<div class="grid-33 tablet-grid-33 new-service">
					敬请期待
				</div>
			</div>
			<div class="more-service grid-100">
				<a>
					<div class="more-service-service">更多在校网服务</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div class="main">
	<blc:categories resultVar="flrCategories" parentCategory="Global Floors" />
	<div th:each="floor:${flrCategories}" th:remove="tag">
		<div th:substituteby="${#strings.isEmpty(floor.displayTemplate)?'/v2/catalog/partials/floor/default_floor':floor.displayTemplate}"></div>
	</div>
</div>
<script type="text/javascript">
	/*<![CDATA[*/
	lastScripts[lastScripts.length]=function(){
	// $('<a id="tuan_banner" style="position:relative;display:block;width:100%;height:120px; background:url(//img.onxiao.com/img/v2/WomensDay_Banner.jpg) center 0 no-repeat;background-color: #D8D8D8;"/>').prependTo('body');
	var pulled = false;
	// $('#tuan_banner').mouseup(function(){pulled = true;});
	/* $(document).mouseup(function(){
		var v=$('#xmas-main');
		if(parseInt(v.css('height'))!=0) {
			v.stop().animate({height:0},500,'easeInQuart',function(){$('#tuan_banner').fadeIn(1000);});
			
		}
		xmasgo();
	});
	var xmasgo = function() {
		var xmas = $('#xmas-main');
		function xmasdown(xmas){
			if(parseInt($('#xmas-main').css('height'))==0 && pulled){
				$('#tuan_banner').hide();
				xmas.stop().animate({height:$('.img_height').height()},500,'easeOutBounce');
				pulled =false;
			}
		}
		if(xmas.length == 0) {
			xmasdown($('<div id="xmas-main" style="overflow:hidden;height:0;"><a href="/group_buy"><img class="img_height" src="//img.onxiao.com/img/v2/WomensDay_Tuangou.jpg" width="100%"/></a></div>').prependTo('body').mouseup(function(e){console.log(e);e.stopPropagation();}));
		} else xmasdown(xmas);
	}; */
	
	// $('<a id="xmas_banner" style="position:relative;display:block;width:100%;height:50px; background:url(//img.onxiao.com/img/v2/Change.gif) center 0 no-repeat;background-color: #b9112e;"/>').prependTo('body');
	/* var bw=$('body').width();
	if(bw>1260) {
		$('#xmas_banner').append('<div style="position:absolute;left:'+(bw/2-600-26)+'px;top:50px;height: 1px;"><div id="xmas-pull" style="display:none;"><div id="xmas-puller" style="position:absolute;top:0;width:1px;height:90px;background-color:#e3e3e3;"><div id="xmas-puller" style="background:url(//img.onxiao.com/img/v2/Revision_iCons.png) 0 0 no-repeat;width:30px;height:38px;position:absolute;bottom:-34px;left: -14px;" /></div></div></div></div>');
		var rotation = 8; 
		function pendulumswing() {
			$('#xmas-pull').animate({rotate: rotation},1000, "jswing", function(){
				rotation *= -1;
				pendulumswing();
			});
		}
		(function () {
			$('#xmas-pull').animate({rotate: rotation}, 0, function () {
				$('#xmas-pull').css("display", "block");
				rotation *= -1;
				pendulumswing();					
			});
		})();
	}
	$('#xmas_banner').mouseup(function(){pulled = true;});
	var pulled = false;
	$('#xmas-pull').mousedown(function(){
		pulled = true;
		$(this).stop();
		$('#xmas-puller').css({height:120});
	});
	$(document).mouseup(function(){
		var v=$('#xmas-main');
		if(parseInt(v.css('height'))!=0) {
			v.stop().animate({height:0},500,'easeInQuart',function(){$('#vswtch').show();$('#xmas_banner').show();});
		}
		if(!pulled){return;}
		pulled=false;
		$('#xmas-puller').css({height:90});
		pendulumswing();
		xmasgo();
	});
	var xmasgo = function() {
		var xmas = $('#xmas-main');
		function xmasdown(xmas){
			$('#vswtch').hide();
			$('#xmas_banner').hide();
			xmas.stop().animate({height:$('.img_height').height()},500,'easeOutBounce');
		}
		if(xmas.length == 0) {
			xmasdown($('<div id="xmas-main" style="overflow:hidden;height:0;"><img class="img_height" src="//img.onxiao.com/img/v2/RevisionTopDown.jpg" width="100%"/></div>').prependTo('body').mouseup(function(e){console.log(e);e.stopPropagation();}));
		} else xmasdown(xmas);
	};*/

	$('.rslides').responsiveSlides({
		maxwidth: 765, prevText: ' ', nextText: ' ', pager: true,
		random: true, pause:true, nav: true
	});
	var interval;
	$('.tabs .tab').mouseover(function() {
		var self = $(this);
		//interval = setInterval(function(){
			if(self.hasClass('active'))return;
			self.siblings().removeClass('active');
			self.addClass('active');
			var contents = self.parent().parent().children('.tab-contents');
			contents.children('.tab-content').removeClass('active');
			var currTab = contents.children('.' + self.attr('key')).addClass('active').fadeIn(100);
			var href = self.attr('href');
			if(href) {
				$.ajax({
					type : "get",
					url : href
				}).done(function(data) {
					currTab.html(data);
				});
			}
		//}, "200");
	}).mouseout(function(){
		clearTimeout(interval);
	});
	var frstTab = $('.tabs [key="tab0"]').each(function() {
		var self =$(this);
		if(self.attr('href'))self.trigger('mouseover');
	});
	
	function loadTagActive(s){
		$('.eat-text .tab'+s).css({visibility: 'visible'});
		$('.eat-time .tab'+s).addClass('active');
		$('.eattabs .tab'+s).addClass('active');
		$('.eat-floor .tab-contents .tab'+s).addClass('active');
		$('.eat-floor .pageup_bg').data('nowTime',s);
		$('.eat-floor .pagedown_bg').data('nowTime',s);
		if(s=='0'){
			$('.eat-floor .pageup').removeClass('active');
		}
		if(s=='3'){
			$('.eat-floor .pagedown').removeClass('active');
		}
	}
	$(function(){
		var nowTime = parseInt(new Date().getHours());
		if(nowTime>=8 && nowTime<11){
			loadTagActive('0');
		}else if(nowTime>=11 && nowTime<14){
			loadTagActive('1');
		}else if(nowTime>=14 && nowTime<16){
			loadTagActive('2');
		}else{
			loadTagActive('3');
		}
	})
	function tagActive(nowTime,newTime){
		$('.eat-floor .pagedown').addClass('active');
		$('.eat-floor .pageup').addClass('active');
		if(newTime==0){
			$('.eat-floor .pageup').removeClass('active');
		}
		if(newTime==3){
			$('.eat-floor .pagedown').removeClass('active');
		}
		$('.eat-floor .eattabs .tab'+nowTime).removeClass('active');
		$('.eat-floor .eattabs .tab'+newTime).addClass('active');
		$('.time-zeor .eat-text .tab'+nowTime).css({visibility: 'hidden'});
		$('.time-zeor .eat-text .tab'+newTime).css({visibility: 'visible'});
		$('.time-zeor .eat-time .tab'+nowTime).removeClass('active');
		$('.time-zeor .eat-time .tab'+newTime).addClass('active');
		//var left_margin = $('body').width()*0.0085;
		if(nowTime<newTime){
			$('.eat-floor .tab-contents .tab'+nowTime).animate({left:1200},{duration : 300, queue:false}).removeClass('active');;
			$('.eat-floor .tab-contents .tab'+newTime).css({display:'block',left:'-1200px'}).addClass('active').animate({left:0},{duration : 300, queue:false});
		}else{
			$('.eat-floor .tab-contents .tab'+nowTime).animate({left:-1200},{duration : 300, queue:false}).removeClass('active');;
			$('.eat-floor .tab-contents .tab'+newTime).css({display:'block',left:'1200px'}).addClass('active').animate({left:0},{duration : 300, queue:false});
		}
		$('.eat-floor .pageup_bg').data('nowTime',newTime);
		$('.eat-floor .pagedown_bg').data('nowTime',newTime);
	}
	$('.eat-floor .eattabs .tab').mouseover(function() {
		var self = $(this);
		interval = setInterval(function(){
			if(self.hasClass('active')) return;
			var old_active='';
			if(self.siblings('.active').hasClass('tab0')){
				old_active = "0";
			}else if(self.siblings('.active').hasClass('tab1')){
					old_active = "1";
				}else if(self.siblings('.active').hasClass('tab2')){
						old_active = "2";
					}else if(self.siblings('.active').hasClass('tab3')){
							old_active = "3";
						}
			self.siblings().removeClass('active');
			self.addClass('active');
			old_active = parseInt(old_active);
			var new_active = parseInt(self.attr('key').substring(3));
			tagActive(old_active,new_active);
			clearTimeout(interval);
		}, "200");
	}).mouseout(function(){
		clearTimeout(interval);
	});

	$('.eat-floor .pageup_bg').click(function(){
		var nowTime = parseInt($(this).data('nowTime'));
		var newTime = nowTime-1;
		if(nowTime==0) {
			$('.eat-floor .pageup').fadeOut(100);
			return;
		}
		tagActive(nowTime,newTime);
	});
	
	$('.eat-floor .pagedown_bg').click(function(){
		var nowTime = parseInt($(this).data('nowTime'));
		var newTime = nowTime+1;
		if(nowTime==3){
		$('.eat-floor .pagedown').fadeOut(100);
		return;
		}
		tagActive(nowTime,newTime);
	});
	
	$('.eat-time td').mouseover(function() {
		var self = $(this);
		if(!self.attr('key')) return;
		interval = setInterval(function(){
			if(self.hasClass('active')) return;
			var old_active='';
			if(self.siblings('.active').hasClass('tab0')){
				old_active = "0";
			}else if(self.siblings('.active').hasClass('tab1')){
					old_active = "1";
				}else if(self.siblings('.active').hasClass('tab2')){
						old_active = "2";
					}else if(self.siblings('.active').hasClass('tab3')){
							old_active = "3";
						}
			self.siblings().removeClass('active');
			self.addClass('active');
			old_active = parseInt(old_active);
			var new_active = parseInt(self.attr('key').substring(3));
			tagActive(old_active,new_active);
			clearTimeout(interval);
		}, "200");
	}).mouseout(function(){
		clearTimeout(interval);
	});
	$('.absolute_div .food_lost_0').mouseover(function(){
		$('.eat-floor .tab-contents .pageup.active .pageup_bg').fadeIn(1000);
	}).mouseout(function(){
		$('.eat-floor .tab-contents .pageup.active .pageup_bg').css({display:'none'});
	});
	$('.pageup.active .pageup_bg').mouseover(function(){
		$(this).css({display:'block'});
	}).mouseout(function(){
		$(this).css({display:'none'});
	});
	$('.pagedown.active .pagedown_bg').mouseover(function(){
		$(this).css({display:'block'});
	}).mouseout(function(){
		$(this).css({display:'none'});
	});
	$('.absolute_div .food_lost_4').mouseover(function(){
		$('.eat-floor .tab-contents .pagedown.active .pagedown_bg').fadeIn(1000);//css({display:'block'});
	}).mouseout(function(){
		$('.eat-floor .tab-contents .pagedown.active .pagedown_bg').css({display:'none'});
	});
	
	$('.absolute_div .food_lost_3').mouseover(function(){
		if(parseInt($(window).width())>1024){
			return
		}else{
			$('.eat-floor .tab-contents .pagedown.active .pagedown_bg').fadeIn(1000);
		}
	}).mouseout(function(){
		if(parseInt($(window).width())>1024){
			return
		}else{
			$('.eat-floor .tab-contents .pagedown.active .pagedown_bg').css({display:'none'});
		}
	});
	
	
	
	$('.haven-floor .haven_tabs .tab').mouseover(function() {
		var self = $(this);
		interval = setInterval(function(){
			if(self.hasClass('active')) return;
			self.siblings().removeClass('active');
			self.addClass('active');
			tabsmouseover('haven',self.attr('key'));
		}, "200");
	}).mouseout(function(){
		clearTimeout(interval);
	});
	
	$('.hover_layer').hover(function(){
		var self = $(this);
		self.find('div.hover_visible').stop().animate({top:0},{duration : 500,easing : 'easeOutBounce', queue:false,complete:function(){self.addClass('border-shadow')}});
	
	},function(){
		var self = $(this);
		self.removeClass('border-shadow');
		$(this).find('div.hover_visible').stop().animate({top:-200},{duration : 500,queue:false});
	});
	
	$('.taocan_hover').hover(function(){
		$(this).find('div.text_layer').css({display:'none'});
		$(this).find('div.text_detial').animate({top:0},{duration : 500,easing : 'easeOutBounce', queue:false});
	},function(){
		$(this).find('div.text_detial').animate({top:-200},{duration : 500, queue:false});
		$(this).find('div.text_layer').css({display:'block'});
	});
	$('.zatg_layer').hover(function(){
		$(this).find('div.zxtg_logo').animate({top:100,opacity:1},{duration : 1000,easing : 'easeOutBounce', queue:false});
		$(this).find('div.zxtg_tag').animate({top:245,opacity:1},{duration : 1000,easing : 'easeOutBounce', queue:false});
	},function(){
		$(this).find('div.zxtg_logo').animate({top:50,opacity:0.1},{duration : 1000, queue:false});
		$(this).find('div.zxtg_tag').animate({top:295,opacity:0.1},{duration : 1000, queue:false});
	});
	
	$('.trave_reclayer').hover(function(){
		var self = $(this);
		self.find('div.travel_msk').stop().animate({opacity:'0.8'},{duration:400,queue:false});
		self.find('div.travel_msk1').stop().animate({opacity:'0.9'},{duration:400,queue:false});
		self.find('div.text_title').stop().animate({right:114},{duration : 650, queue:false,complete:function(){
			self.find('div.sub_title').stop().animate({right:114},{duration : 650, queue:false,complete:function(){
				self.find('div.travel_rec').stop().animate({right:114},{duration:650,quenue:false});
			}});
		}});
		self.find('div.bg_text1').stop().animate({top:20},{duration:1000,queue:false,easing : 'easeOutBounce'});
		self.find('div.bg_text2').stop().animate({top:20},{duration:1000,queue:false,easing : 'easeOutBounce'});
		self.find('div.sub_title1').stop().animate({bottom:14},{duration:1000,queue:false,easing : 'easeOutBounce'});
	},function(){
		var self = $(this);
		self.find('div.travel_rec').stop().animate({right:700},{duration : 650, queue:false,complete:function(){
			self.find('div.sub_title').stop().animate({right:700},{duration : 650, queue:false,complete:function(){
				self.find('div.text_title').stop().animate({right:700},{duration:650,quenue:false,complete:function(){
					self.find('div.travel_msk').stop().animate({opacity:'0'},{duration:400,queue:false});
				}});
			}});
		}});
		self.find('div.bg_text1').stop().animate({top:-115},{duration:200,queue:false});
		self.find('div.bg_text2').stop().animate({top:-115},{duration:200,queue:false});
		self.find('div.sub_title1').stop().animate({bottom:-25},{duration:200,queue:false,complete:function(){
					self.find('div.travel_msk').stop().animate({opacity:'0'},{duration:400,queue:false});
				}});
	});
	
	$('.travel-floor .traveltabs .tab').mouseover(function() {
		var self = $(this);
		interval = setInterval(function(){
			if(self.hasClass('active')) return;
			self.siblings().removeClass('active');
			self.addClass('active');
			tabsmouseover('travel',self.attr('key'));
		}, "200");
	}).mouseout(function(){
		clearTimeout(interval);
	});
	
	$('.meizhuang-floor .meizhuangtabs .tab').mouseover(function() {
		var self = $(this);
		interval = setInterval(function(){
			if(self.hasClass('active')) return;
			self.siblings().removeClass('active');
			self.addClass('active');
			tabsmouseover('meizhuang',self.attr('key'));
		}, "200");
	}).mouseout(function(){
		clearTimeout(interval);
	});
	
	function tabsmouseover(s,key){
		$('.'+s+'-floor .tab-contents .'+s+'_container .active').fadeOut(100).removeClass('active');
		$('.'+s+'-floor .tab-contents .'+s+'_container .'+key).fadeIn(1000);
		$('.'+s+'-floor .tab-contents .'+s+'_container .'+key).addClass('active');
		$('.'+s+'_title .'+s+'_more .active').removeClass('active');
		$('.'+s+'_title .'+s+'_more .'+key).css({position:'absolute',right:'-1000px'}).addClass('active').animate({right:0},{duration : 300, queue:false});
	}
	
	$('.mei_reclayer').hover(function(){
		var self = $(this);
		self.find('div.name_msk').stop().animate({bottom:0},{duration:400,queue:false});
		self.find('div.meizhuang_name').stop().animate({bottom:0},{duration:400,queue:false});
	},function(){
		var self = $(this);
		self.find('div.name_msk').stop().animate({bottom:-50},{duration:200,queue:false});
		self.find('div.meizhuang_name').stop().animate({bottom:-50},{duration:200,queue:false});
	});
	$('.youyu_layer').hover(function(){
		var self = $(this);
		self.find('div.name_msk').stop().animate({bottom:0},{duration:400,queue:false});
		self.find('div.youyu_name').stop().animate({bottom:0},{duration:400,queue:false});
	},function(){
		var self = $(this);
		self.find('div.name_msk').stop().animate({bottom:-50},{duration:200,queue:false});
		self.find('div.youyu_name').stop().animate({bottom:-50},{duration:200,queue:false});
	});
	
	
	$("#tx-weibo").click(function sina() {
	var _appkey ='100515120';
	var _t1=encodeURI("前几天终于看了传说中的舌尖上的中国，感觉当个吃货也蛮不错的。吃好了才能心情好么，这让我又想起了--");
	var _site = encodeURI;  
  
	 var _t = encodeURI(document.title); 
	var _url = encodeURI(window.location); 
	var _u ='http://v.t.qq.com/share/share.php?title='+_t1+_t+'&url='+_url+'&appkey='+_appkey+'&site='+_site; 
	window.open( _u,'转播到腾讯微博', 'width=700, height=580, top=180, left=320, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' ); 
	});
	$("#qq").click(function qq() {
	 var _t1=encodeURIComponent("前几天终于看了传说中的舌尖上的中国，感觉当个吃货也蛮不错的。吃好了才能心情好么，这让我又想起了--");
	var _url = encodeURIComponent(window.location); 
	var _u ='http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+_url+'&title='+_t1;
	window.open( _u,'转播到QQ空间', 'width=700, height=580, top=180, left=320, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' ); 
	});
	$("#sina").click(function sina(){
	   	var _url = encodeURI(window.location); 
		var _t1=encodeURI("前几天终于看了传说中的舌尖上的中国，感觉当个吃货也蛮不错的。吃好了才能心情好么，这让我又想起了--");
	
		var appkey="1500853607";
		var _u='http://v.t.sina.com.cn/share/share.php?appkey='+appkey+'&title='+_t1+_url;
		window.open( _u,'转播到新浪微博', 'width=700, height=580, top=180, left=320, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' ); 
	}
	);
	$("#renren").click(function renren(){
		var _t1=encodeURI("前几天终于看了传说中的舌尖上的中国，感觉当个吃货也蛮不错的。吃好了才能心情好么，这让我又想起了--");
		var _url = encodeURI(window.location); 
		var _u='http://share.renren.com/share/buttonshare.do?link='+_url+'&title='+_t1;
		window.open( _u,'转播到人人', 'width=700, height=580, top=180, left=320, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' ); 
	})
	}
	/*]]>*/
	</script>
<script th:src="'http://www.onxiao.cn/region/changecookies?regionid='+${customer.region eq null ? '' : customer.region.id}+'&amp;rememberme='+${rember}">
</script>


