<style>
.vote-box{
	margin-top:12px;
	text-align:left;
}
.voteForMe{
	padding:0px 5px;
	border:none;
	border-radio:3px;
	text-align:center;
	color:white;
	width:100%;
	font-size:12px;
	text-decoration: none;
	position: relative;
	background: url(//img.onxiao.com/img/Vote_Sprites.png) 165px -6px no-repeat;
	background-color:#f15151;
	border-bottom:3px solid #b92323;
	height:35px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top:8px;
}
.voteForMe:hover{
	opacity:0.7;
}
.allreadyVote{
	padding:0px 5px;
	border:none;
	color:white;
	text-align:center;
	font-size:12px;
	text-decoration: none;
	background: url(//img.onxiao.com/img/Vote_Sprites.png) 170px -6px no-repeat;
	background-color:#f15151;
	border-bottom:3px solid #b92323;
	height:35px;
	line-height:35px;
    -moz-border-radius: 2px;
	border-radius: 2px;
	vertical-align:middle;
	margin-top:8px;
}
.allreadyVote:hover{
	opacity:0.7;
}
.title{
	text-align:center;
	color:#e65c5c;
}
.jindu{
	width:75px;
	background-color:#f15151;
	display:inline-block;
	content:"";
	height:8px;
}
.odd{
	background-color:#fafafa;
	border:1px solid #f7f7f7;
}
.team-name{
	padding-left:15px;
}
.vote-box tr{
	line-height:23px;
	font-size:1em;
	border-left:1px solid #f7f7f7;
	border-right:1px solid #f7f7f7;
}
.happy-pic{
	background: url(//img.onxiao.com/img/Vote_Sprites.png) -13px -38px no-repeat; 
	width:18px;
	height:35px;
	display:inline-block;
}
.radio_style{
	background: url(//img.onxiao.com/img/radio_style.png) -40px -5px no-repeat; 
}
</style>
<div>
	<div style="text-align:center">
		<h3 class="title">“在校网”杯创业扶持大赛决赛</h3>
		<span>投票截止时间：12/3周二下午4点整</span>
	</div>
	
<div class="vote-box">
	<form action="/activity/votes/submit" method="get">
	<table width="100%">
		<tbody><tr class="odd">
			<td class="team-name radio_style">
				<!--<input class="radio_style"   type="radio" name="teamId" th:id="'t'+${stats.index}" th:value="${team.teamId}"/>-->
				<label for="t0"><span>飞定</span></label>
			</td>
			<td style="width:75px;"><div class="jindu" style="width:19.4277108434px"></div></td>
			<td align="right" style="padding-right:15px;"><span>86票</span></td>
		</tr><tr>
			<td class="team-name radio_style">
				<!--<input class="radio_style"   type="radio" name="teamId" th:id="'t'+${stats.index}" th:value="${team.teamId}"/>-->
				<label for="t1"><span>宣宣</span></label>
			</td>
			<td style="width:75px;"><div class="jindu" style="width:36.8222891566px"></div></td>
			<td align="right" style="padding-right:15px;"><span>163票</span></td>
		</tr><tr class="odd">
			<td class="team-name radio_style">
				<!--<input class="radio_style"   type="radio" name="teamId" th:id="'t'+${stats.index}" th:value="${team.teamId}"/>-->
				<label for="t2"><span>和谐号</span></label>
			</td>
			<td style="width:75px;"><div class="jindu" style="width:75px"></div></td>
			<td align="right" style="padding-right:15px;"><span>332票</span></td>
		</tr><tr>
			<td class="team-name radio_style">
				<!--<input class="radio_style"   type="radio" name="teamId" th:id="'t'+${stats.index}" th:value="${team.teamId}"/>-->
				<label for="t3"><span>女希氏</span></label>
			</td>
			<td style="width:75px;"><div class="jindu" style="width:17.8463855422px"></div></td>
			<td align="right" style="padding-right:15px;"><span>79票</span></td>
		</tr><tr class="odd">
			<td class="team-name radio_style">
				<!--<input class="radio_style"   type="radio" name="teamId" th:id="'t'+${stats.index}" th:value="${team.teamId}"/>-->
				<label for="t4"><span>下一个奇迹</span></label>
			</td>
			<td style="width:75px;"><div class="jindu" style="width:60.9939759036px"></div></td>
			<td align="right" style="padding-right:15px;"><span>270票</span></td>
		</tr><tr>
			<td class="team-name radio_style">
				<!--<input class="radio_style"   type="radio" name="teamId" th:id="'t'+${stats.index}" th:value="${team.teamId}"/>-->
				<label for="t5"><span>H.A.</span></label>
			</td>
			<td style="width:75px;"><div class="jindu" style="width:27.5602409639px"></div></td>
			<td align="right" style="padding-right:15px;"><span>122票</span></td>
		</tr><tr class="odd">
			<td class="team-name radio_style">
				<!--<input class="radio_style"   type="radio" name="teamId" th:id="'t'+${stats.index}" th:value="${team.teamId}"/>-->
				<label for="t6"><span>BE YOUNG</span></label>
			</td>
			<td style="width:75px;"><div class="jindu" style="width:17.3945783133px"></div></td>
			<td align="right" style="padding-right:15px;"><span>77票</span></td>
		</tr><tr>
			<td class="team-name radio_style">
				<!--<input class="radio_style"   type="radio" name="teamId" th:id="'t'+${stats.index}" th:value="${team.teamId}"/>-->
				<label for="t7"><span>chanllenger</span></label>
			</td>
			<td style="width:75px;"><div class="jindu" style="width:14.9096385542px"></div></td>
			<td align="right" style="padding-right:15px;"><span>66票</span></td>
		</tr><tr class="odd">
			<td class="team-name radio_style">
				<!--<input class="radio_style"   type="radio" name="teamId" th:id="'t'+${stats.index}" th:value="${team.teamId}"/>-->
				<label for="t8"><span>Practitioners</span></label>
			</td>
			<td style="width:75px;"><div class="jindu" style="width:17.3945783133px"></div></td>
			<td align="right" style="padding-right:15px;"><span>77票</span></td>
		</tr>
		<tr>
			<td align="right" colspan="3" style="padding-right:15px;padding-left:15px;">
				<!--<span><input th:if="${alleadyVote == null}"  class="voteForMe" type="submit" value="投票"/></span>-->
	        	<div class="allreadyVote">
	        		<span class="happy-pic">&nbsp;</span>
	        		<span>您已投票</span>
	        	</div>
	        </td>
        </tr>
	</tbody></table>
	</form>
</div>
</div>
