<div class="grid-100 tablet-grid-100 pindao">
    <div class="grid-60 tablet-grid-70 grid-parent nav-height">
        <div class="grid-25 tablet-grid-25 grid-parent text-padding bajie"><a class="icon-padding" href="/"><div class="bajie-bg"></div>八戒是吃货</a></div>
		<div class="grid-25 tablet-grid-25 grid-parent text-padding zixia"><a class="icon-padding"><div class="zixia-bg"></div>紫霞月光盒</a></div>
		<div class="grid-25 tablet-grid-25 grid-parent text-padding shifu"><a class="icon-padding"><div class="shifu-bg"></div>师父开讲坛</a></div>
		<div class="grid-25 tablet-grid-25 grid-parent text-padding shaseng"><a class="icon-padding"><div class="shaseng-bg"></div>沙僧比较忙</a></div>
    </div>
	<div class="grid-40 tablet-grid-30 grid-parent text-padding">
		<span class="other-text">&nbsp;</span>
        <span><a href="/group_buy">团购</a>　培训　学车　二手</span>
	</div>
</div>
