<section role="main">
	<div class="row" id="box1">
		<div class="twelve columns">
			<div class="seven columns">
				<form action="" method="GET" class="custom-entity-search">
				    <div class="row">
					<div class="six columns">
					    <input type="search" placeholder="OrderNumber" style="height: 28px; width: 100%"/>
					</div>
					<div class="four columns">
					    <a class="button small dark radius" href="#">
							<i class="icon-search"></i>&nbsp;搜索
					    </a>
					</div>
					<div class="two columns">&nbsp;</div>
				    </div>
				</form>
			</div>
		</div>
	</div>
</section>
