<style>
.cell{
text-align:center;
vertical-align:middle;
align:center;
}
.name{
text-align:left;
}
.cell-cancel{
text-align:right;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div id="notification_bar"></div>
<section role="main">
	<div class="row">
		<div class="twelve columns" th:object="${order}">
			<div class="order-history-title grid-100">
                <table width="100%">
                    <tr>
    					<td th:title="${order.orderNumber}"><span>订单编号：</span> <span th:if="${order.orderNumber}" th:text="${order.orderNumber}"></span></td>
    					<td><span>提交时间：</span><span th:text="*{#dates.format(submitDate, 'yy-M-d HH:mm')}"></span></td>
    					<td>订单总计：<span class="price total-price" blc:price="*{total}"></span>
                        </td>
						<td style="text-align:right">
        					<span >订单操作：</span>
        					<a th:href="@{/order-process/cancel/} + *{orderNumber}">取消订单</a>	
						</td>
    				</tr>
				</table>
            </div>
            <table width="100%">
                <thead>
                    <tr>
                        <th class="cell name"><span>商品名称</span></th>
                        <th class="cell"><span>数量</span></th>
                        <th class="cell"><span>价格</span></th>
                        <th class="cell"><span>共节省</span></th>
                        <th class="cell"><span>小计</span></th>
						<th class="cell cell-cancel"><span style="float:left">实际购买个数</span><span>操作</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="item : ${order.orderItems}" th:object="${item}" th:id="${'productRow' + item.id}">
                        <td class="cell name">
                            <a th:text="*{name}"></a>
                            <br/>
                        </td>
                        <td class="cell">
                            <span th:text="*{quantity}"/>
                        </td>
                        <td class="cell" blc:price="*{getPriceBeforeAdjustments(true)}"></td>
                        <td class="cell" th:if="*{adjustmentValue==null}">---</td>
                        <td class="cell" th:unless="*{adjustmentValue==null}">
							<span th:if="*{adjustmentValue.zero}">---</span>
							<span th:unless="*{adjustmentValue.zero}" blc:price="*{totalAdjustmentValue}" ></span>
                         </td>
                        <td class="cell" th:if="!${item instanceof T(org.broadleafcommerce.core.order.domain.BundleOrderItem)}" th:text="*{totalPrice}"></td>
                        <td class="cell cell-cancel">
							<form method="get" th:action="@{/order-process/removeOrderitem}" style="margin:0;">
        						<input type="hidden" name="orderItemId" th:value="*{id}" />
								<input type="number" name="quantity" value="0" maxlength="3" style="width:60px;display:inline-block;padding: 4px 12px;margin:0;float:left;" autocomplete="off" />
        						<input type="submit" value="更新"/>
        					</form>
						</td>
					</tr>
                </tbody>
            </table>
		</div>
	</div>
</section>