<style>
.category-item-container{background-color:#F6F6F6;padding:4px;}
.category-item-container a:hover{text-decoration:none;}
.product-info{padding:4px;}
.product-item0{border: 1px solid #d8d8d8;;overflow:hidden;background-color:#FFFFFF;box-shadow: 1px 1px 3px rgba(0,0,0,.2);}
.prod-img{max-height: 105px;overflow:hidden;}
.padding-10{padding:0 10px;text-decoration: none;}
.product-name{height:3em;max-height:3em;line-height:1.5em;overflow:hidden;display:block;margin:4px 0;color:#999999;font-size:0.9em;}
.product-price{margin-bottom:10px;}
</style>
<div class="category-item-container" role="main">
	<hr style="border:0;clear: both;margin:15px 5px;border-top: 1px solid #EAEAEA;border-bottom: 1px solid #FFF;"/>
	<div style="line-height:1.5em;text-indent:0.0em;padding:0px 10px  0px;text-align:center;">
        <span th:text="${category.name}"></span>	    
	</div>	
	<hr style="border:0;clear: both;margin:15px 5px;border-top: 1px solid #EAEAEA;border-bottom: 1px solid #FFF;"/>
	<div id="products" class="clearfix">
	   	<div th:if="${#lists.isEmpty(products)}">没找到哎，再试试吧～</div>
	   	<div class="col-xs-6 product-info" th:unless="${#lists.isEmpty(products)}"
	   		 th:each="product,stats: ${products}" th:object="${product}">
        	<div class="product-item0">
        		<a th:href="*{defaultSku.product.url}" class="prod-img">
                    <div class="prod-img">
						<img th:if="*{media['primary']}" class="img-responsive" th:alt="*{name}" th:src="@{*{media['primary'].url} + '?browse&amp;resize-width-amount=160'}"/>
					</div>
        		</a>
        		<a th:href="*{defaultSku.product.url}" class="col-xs-12 padding-10">
        			<span class="product-name" th:text="*{name}"></span>
        		</a>
        		<div class="col-xs-12 padding-10 product-price price" th:unless="${#object instanceof T(org.broadleafcommerce.core.catalog.domain.ProductBundle)}">
        			<span blc:price="*{defaultSku.salePrice}" th:if="*{defaultSku.onSale}"
        				th:classappend="*{defaultSku.onSale}? 'sale'"></span>
        			<span class="pull-right" blc:price="*{defaultSku.retailPrice}"
        					th:classappend="*{defaultSku.onSale}?'has-sale':'sale'"></span>
        		</div>
        		
        	</div>
	   	</div>
	</div>
</div>

<script type="text/javascript">
	/*<![CDATA[*/
	lastScripts[lastScripts.length]=function(){
    	$('.nav-info a.nav-cat').addClass('active');
	}
	/*]]>*/
</script>
 