<style>
	.product-infos{background-color:#FAFAFA;}
	.product-info .product-name{font-size:1em;color:#4B4B4B;margin:10px 0 5px 0;max-height:2.8em;overflow:hidden;}
	.img-info{overflow:hidden;width:100%;}
	.addToCart{cursor:pointer;}
	.add-buy{height:35px;}
	.button-info-add,.button-info-buy{width:100%;color:white;border-radius: 0;border:none;}
	.button-info-add,.button-info-add:hover{background-color:#2B2B2B;}
	.button-info-buy,.button-info-buy:hover{background-color:#E70918;}
	.addToCart{position:relative;}
	.addToCart .floatMsg{position:absolute;display:none;color:red;top: 5px;right: 60px;font-weight:700;}
</style>
<div class="product-info" th:object="${product}">
	<!--<hr style="border:0;clear: both;margin:15px 5px;border-top: 1px solid #EAEAEA;border-bottom: 1px solid #FFF;"/>
	<div style="line-height:1.5em;text-indent:0.0em;padding:0px 10px  0px;text-align:center;">
        <span th:text="*{name}"></span>	    
	</div>	
	<hr style="border:0;clear: both;margin:15px 5px;border-top: 1px solid #EAEAEA;border-bottom: 1px solid #FFF;"/>-->
	<div class="container">
    	<div class="row" th:if="*{media['primary']}">
    		<a th:href="@{*{media['primary'].url}}" >
    			<div class="img-info">
    				<img  class="img-responsive" th:src="@{*{media['primary'].url} + '?browse&amp;resize-width-amount=320'}" th:alt="*{name}"/>
    			</div>
    		</a>
    	</div>
    	<div class="row">
    		<div class="col-xs-12">
                <div class="product-name">
    				<span  th:inline="text">[[*{name}]]</span>
        			<span th:text="*{description}"></span>
				</div>
                <div>
					<label>在校价</label>
					<span class="price" th:if="${#object instanceof T(org.broadleafcommerce.core.catalog.domain.ProductBundle)}">
						<span blc:price="*{salePrice}" th:if="*{onSale}" th:classappend="*{onSale}? 'sale'"></span>
						<span blc:price="*{retailPrice}" th:classappend="*{onSale}? 'has-sale'"></span>
					</span>
					<span class="price" th:unless="${#object instanceof T(org.broadleafcommerce.core.catalog.domain.ProductBundle)}">
						<span blc:price="*{defaultSku.salePrice}" th:if="*{defaultSku.onSale}" th:classappend="*{defaultSku.onSale}? 'sale'"></span>
						<span th:if="*{defaultSku.onSale}" style="color:#a2a2a2">原价</span><span blc:price="*{defaultSku.retailPrice}" th:classappend="*{defaultSku.onSale}? 'has-sale':'sale'"></span>
					</span><br />
					库存<span id="inventoryCnt" th:text="${inventories eq null?'-':inventories[product.defaultSku].quantityAvailable}" />件
				</div>
				<hr style="border:0;clear: both;margin:15px 5px;border-top: 1px solid #EAEAEA;border-bottom: 1px solid #FFF;"/>
    			<div th:classappend="*{'productActions productActions' + id}" class="add-buy">
    			  	<form method="GET" action="/cart/add">
        				<input type="hidden" name="skuId" id="skuId" th:value="${(inventories eq null or inventories.empty or inventories.get(product) eq null)?product.defaultSku.id:inventories.get(product)[0].sku.id}" />
        				<input type="hidden" name="locationId" id="locationId" th:unless="${inventories eq null or inventories.empty or inventories.get(product) eq null}" th:value="${inventories.get(product)[0].fulfillmentLocation.id}" />
            				<input type="hidden" name="quantity" value="1" class="itemQuantity" />
							<div class="col-xs-6">
                                <div class="addToCart btn btn-info button-info-add">加入购物车<div class="floatMsg">+1</div></div>
							</div>
							<div class="col-xs-6">
                                <input type="submit" value="立即购买" class="btn btn-info button-info-buy" />
							</div>
        			</form>
    			</div>
			    <hr style="border:0;clear: both;margin:15px 5px;border-top: 1px solid #EAEAEA;border-bottom: 1px solid #FFF;"/>
    		</div>
    	</div>
	</div>
</div>
<script type="text/javascript">
	/*<![CDATA[*/
	lastScripts[lastScripts.length]=function(){
    $('body').on('click', '.addToCart', function() {
        var $button = $(this),
        $form = $button.closest('form'),
        $successSpan = $button.children('div');
        BLC.ajax({url: $form.attr('action'), 
            type: "GET",
            dataType: "json",
            data: BLC.serializeObject($form)
        }, function(data, extraData) {
            if (data.error) {
            	var msg;
                if (data.error == 'allOptionsRequired') {
                	msg = data.errorMessage;;
                } else if (data.error == 'inventoryUnavailable') {
                	msg =data.errorMessage;
                } else if(data.errorMessage) {
                	msg = data.errorMessage;
                } else {
                	msg = data.errorMessage;;
                }
            } else {
                $successSpan.attr("style", "display:inline;").animate({
            			top:"-150px",
            			right:0,
            			opacity: 0,
            			display: "none"
            		}, 1500 );
               // updateHeaderCartItemsCount(data.cartItemCount);
            }
        }
    );
    return false;
    });
}
/*]]>*/
</script>

<script type="text/javascript">
	/*<![CDATA[*/
	lastScripts[lastScripts.length]=function(){
    	$('.nav-info a.nav-category').addClass('active');
	}
	/*]]>*/
</script>


