<style>
	.a-line-block{display:block;padding:0;margin-top:5px;}
	.list-group img{padding:0 !important;}
	.category-info .list-group-item{padding:5px 15px !important;color:black;}
	.category-info .list-group-item a{color:black}
	.category-info .list-group-item a:hover{text-decoration: none;color:black}
	.category-description{font-size:0.8em;color:#a2a2a2;display:inline-block;margin-top:10px;line-height: 1em;height: 1em;overflow:hidden;}
	.category-name{font-size:0.9em;color:black;}
</style>
<div class="container">
	<div class="row">
		<blc:categories resultVar="weixinSubCatgory" parentCategory="WeixinCategory"/>
		<ul class="list-group category-info">
          <li class="list-group-item col-xs-12" th:each="subCategory:${weixinSubCatgory}" th:object="${subCategory}" >
			<img class="col-xs-2 " th:src="@{*{categoryMedia['primary'].url} + '?thumbnail&amp;resize-width-amount=25&amp;resize-height-amount=25'}" />
            <a class="a-line-block col-xs-10" th:if="*{url ne null}" th:href="*{url}">
				<span class="category-name" th:text="*{name}">
                </span><br />
				<span class="category-description">
					健身用品　户外用品　运动鞋　运动服　运动包 健身用品　户外用品　运动鞋　运动服　运动包 健身用品　户外用品　运动鞋　运动服　运动包
                </span>
			</a>
          </li>
        </ul>
	</div>
</div>

<script type="text/javascript">
	/*<![CDATA[*/
	lastScripts[lastScripts.length]=function(){
    	$('.nav-info a.nav-category').addClass('active');
	}
	/*]]>*/
</script>