<style >
	.region-container{margin-top:10px;}
	.region-info{text-align:center;}
	.region-info a{color:#999;}
	.region-info a:active{color:#e65c5c;}
	.region-info a:hover{color:#e65c5c;}
	.region-img-info{height:70px;}
</style>
<div class="container region-container">
	<div class="row">
        <div class="col-xs-4 region-info" th:each="region:${regions}" th:object="${region}">
			<a th:href="@{/weixin/region/select(id=*{id},redirect=${param.redirect})}">
			<img class="region-img-info" th:src="@{${region.regionMedia['primary'].url} + '?thumbnail&amp;resize-width-amount=100&amp;resize-height-amount=100'}"  /><br />
            <span th:text="*{shortName}"/></a>
		</div>
	</div>
</div>

