
<div class="manage-account-form-wrapper change-password-form">   
    <span></span>
    <span class="title">修改密码</span>
    <span class="success" th:if="${successMessage}" th:text="${successMessage}"></span>
    <blc:form class="manage-account" name="form1" action="#" th:action="@{/account/password}" th:object="${changePasswordForm}" method="POST">
        <div class="passwordLine">
            <span class="label">当前密码 ：</span>
            <input type="password" class="inbox" name="currentPassword"  th:field="*{currentPassword}"  th:classappend="${#fields.hasErrors('currentPassword')}? 'fieldError'"/>
            <span class="error" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></span>
        </div>
        <div class="passwordLine">
            <span class="label">新密码 :</span>
            <input type="password" class="inbox" name="newPassword"  th:field="*{newPassword}" th:classappend="${#fields.hasErrors('newPassword')}? 'fieldError'"/>
            <span class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
        </div>
        <div class="passwordLine">
            <span class="label">重复密码 ：</span>
            <input type="password" class="inbox" name="newPasswordConfirm" th:field="*{newPasswordConfirm}" th:classappend="${#fields.hasErrors('newPasswordConfirm')}? 'fieldError'"/>
        	 <span class="error" th:if="${#fields.hasErrors('newPasswordConfirm')}" th:errors="*{newPasswordConfirm}"></span>
        </div>
        <div class="button submit" onclick="form1.submit();">修改</div><div class="button reset" onclick="form1.reset();">取消</div>
    </blc:form>
</div>