<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div>
    <ul>
        <li>
            <span>系统消息</span>
        </li>
      
    </ul>
    
        <ul id="order-history" th:unless="${#lists.isEmpty(messages)}">
        <li>
            <span>系统消息</span>
        </li>
        <li class="order" th:each="message : ${messages}" th:object="${message}" >
            <div >
             <span th:text="*{content}"></span>
             <span th:text="*{date}"></span>
          
           
         </div>
            <div class="order-details"></div>
        </li>
    </ul>
    
    <h3 th:if="${#lists.isEmpty(messages)}">You have not  any messages.</h3>
</div> 