<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
     http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="connectionFactoryLocator"
		class="org.springframework.social.connect.support.ConnectionFactoryRegistry">
		<property name="connectionFactories">
			<list>
				<bean
					class="com.couponornot.social.weibo.connect.v2.WeiboConnectionFactory">
					<constructor-arg value="${weibo.clientId}" />
					<constructor-arg value="${weibo.clientSecret}" />
				</bean>
				<bean
					class="com.couponornot.social.renren.connect.RenrenConnectionFactory">
					<constructor-arg value="${renren.clientId}" />
					<constructor-arg value="${renren.clientSecret}" />
				</bean>
				<bean
					class="com.georges.social.qq.connect.QQConnectionFactory">
					<constructor-arg value="${qq.clientId}" />
					<constructor-arg value="${qq.clientSecret}" />
				</bean>
			</list>
		</property>
	</bean>

	<bean id="usersConnectionRepository"
		class="org.springframework.social.connect.jdbc.JdbcUsersConnectionRepository">
		<constructor-arg ref="webDS" />
		<constructor-arg ref="connectionFactoryLocator" />
		<constructor-arg ref="textEncryptor" />
		<aop:scoped-proxy proxy-target-class="false" />
		<property name="tablePrefix" value="BLC_" />
		<property name="connectionSignUp" ref="connectionSignUp" />
	</bean>

	<bean id="connectionSignUp" class="com.ssbusy.site.social.ConnectionSignUpImpl" />

	<bean id="connectionRepository" factory-method="createConnectionRepository"
		factory-bean="usersConnectionRepository" scope="request">
		<constructor-arg value="#{session.customer.username}" />
		<aop:scoped-proxy proxy-target-class="false" />
	</bean>

	<!-- Configure this to use the Broadleaf Runtime Environment properties file -->
	<bean id="textEncryptor" class="org.springframework.security.crypto.encrypt.Encryptors"
		factory-method="noOpText" />
</beans>